In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_sas('data/cntrct_srs_an.sas7bdat', encoding='unicode_escape', index='Contract_ID')

In [3]:
df.head()

,COD_FASE_OPE,COD_TIPO_OPE,COD_STT_OPE,DAT_INS,DAT_INZ_OPE,DAT_END_OPE_P,DAT_END_OPE,Instit_ID
Contract_ID,,,,,,,,
S_000001,UP,IU,NaN,17223.0,17226.0,17956.0,17866.0,H_002
S_000006,EX,HU,NaN,17223.0,17241.0,19807.0,NaN,H_002
S_000029,UK,SU,NaN,17233.0,17233.0,17582.0,17591.0,H_002
S_000040,UP,OU,NaN,17237.0,17238.0,20870.0,17652.0,H_002
S_000066,EX,HU,NaN,17244.0,17324.0,27661.0,NaN,H_002

In [4]:
df.loc['S_000006', 'COD_TIPO_OPE']

'HU'

**Example:** Extract summary statistics from bank/non-bank institutions (H/L prefix in `Instit_ID`)

In [5]:
df['Instit_ID'].unique()

array(['H_002', 'H_003', 'H_004', 'H_005', 'H_006', 'H_007', 'H_008',
       'H_009', 'H_010', 'H_011', 'H_012', 'H_013', 'H_014', 'H_015',
       'H_016', 'H_017', 'H_018', 'H_019', 'H_020', 'H_021', 'H_022',
       'L_023', 'L_024', 'L_025', 'L_026', 'L_027', 'L_029', 'L_030',
       'L_031', 'L_032', 'L_033', 'L_034', 'L_035', 'L_036', 'L_037',
       'L_038', 'L_039', 'L_040', 'L_041', 'L_042', 'L_043'], dtype=object)

### Create columns with a fixed, constant value (derived variables from original data)

- Create a column with constant value

In [6]:
df['IsBank'] = True

In [7]:
# 1. Use pre-built function 'startswith'
df['IsBank_v1'] = df['Instit_ID'].str.startswith('H')

In [8]:
# 2. Use list comprehension
df['IsBank_v2'] = [ c[0]=='H' for c in df['Instit_ID'] ]

In [9]:
# 3. Using `apply` and a custom function
def is_bank(instit_id):
    #Returns True/False from instit_id
    return instit_id[0]=='H'

df['IsBank_v3'] = df['Instit_ID'].apply(is_bank)

In [10]:
# 4. Using `apply` and anonymous functions
df['IsBank_v4'] = df['Instit_ID'].apply(lambda inst: inst[0]=='H')

In [11]:
df[['Instit_ID', 'IsBank_v1', 'IsBank_v2', 'IsBank_v3', 'IsBank_v4']].head()

            Instit_ID  IsBank_v1  IsBank_v2  IsBank_v3  IsBank_v4
Contract_ID
S_000001        H_002       True       True       True       True
S_000006        H_002       True       True       True       True
S_000029        H_002       True       True       True       True
S_000040        H_002       True       True       True       True
S_000066        H_002       True       True       True       True

### Other manipulations to create variables

In [12]:
df['End Ratio'] = np.log(df['DAT_END_OPE_P'] / df['DAT_END_OPE'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 470592 entries, S_000001 to S_470520
Data columns (total 14 columns):
COD_FASE_OPE     470592 non-null object
COD_TIPO_OPE     470592 non-null object
COD_STT_OPE      38057 non-null object
DAT_INS          470592 non-null float64
DAT_INZ_OPE      450655 non-null float64
DAT_END_OPE_P    277199 non-null float64
DAT_END_OPE      229646 non-null float64
Instit_ID        470592 non-null object
IsBank           470592 non-null bool
IsBank_v1        470592 non-null bool
IsBank_v2        470592 non-null bool
IsBank_v3        470592 non-null bool
IsBank_v4        470592 non-null bool
End Ratio        162659 non-null float64
dtypes: bool(5), float64(5), object(4)
memory usage: 58.1+ MB

### Value imputation

In [14]:
df['COD_STT_OPE'].unique()

array([nan, 'Q', 'F', 'D', 'Z', 'B', 'X', 'N', 'Y', 'P', 'S', '0', 'U',
       'R', 'T', 'J', 'O', 'L', 'M', 'E', 'W'], dtype=object)

In [15]:
df['COD_STT_OPE_Clean'] = df['COD_STT_OPE'].fillna('Unknown') # Creates a new colum with filled in values

In [16]:
df['COD_STT_OPE'].fillna('Unknown', inplace=True) # Modifies the existing column

In [17]:
df.head()

,COD_FASE_OPE,COD_TIPO_OPE,COD_STT_OPE,DAT_INS,DAT_INZ_OPE,DAT_END_OPE_P,DAT_END_OPE,Instit_ID,IsBank,IsBank_v1,IsBank_v2,IsBank_v3,IsBank_v4,End Ratio,COD_STT_OPE_Clean
Contract_ID,,,,,,,,,,,,,,,
S_000001,UP,IU,Unknown,17223.0,17226.0,17956.0,17866.0,H_002,True,True,True,True,True,0.005025,Unknown
S_000006,EX,HU,Unknown,17223.0,17241.0,19807.0,NaN,H_002,True,True,True,True,True,NaN,Unknown
S_000029,UK,SU,Unknown,17233.0,17233.0,17582.0,17591.0,H_002,True,True,True,True,True,-0.000512,Unknown
S_000040,UP,OU,Unknown,17237.0,17238.0,20870.0,17652.0,H_002,True,True,True,True,True,0.167464,Unknown
S_000066,EX,HU,Unknown,17244.0,17324.0,27661.0,NaN,H_002,True,True,True,True,True,NaN,Unknown

In [18]:
df['DAT_END_OPE'].mean()

17940.04924536025

### Value imputation by more sophisticated conditions
- `fillna` puts the same value everywhere.
- Maybe we want to do `fillna` depending on a categorical variable (different values for bank/non-bank)

**Plan:**
- We need to use `fillna` in *two* different cases, for *two* different values, depending on `IsBank`.

In [19]:
df[df['IsBank_v1']==True]['DAT_END_OPE'].mean()

17933.968098288355

In [20]:
df[df['IsBank_v1']==False]['DAT_END_OPE'].mean()

17969.60610932476

In [26]:
for grp in df.groupby('IsBank_v1')['DAT_END_OPE']:
    print(grp)
    print('*'*100)

(False, Contract_ID
S_000104    18414.0
S_000259    18371.0
S_000298    18474.0
S_000930    18081.0
S_000931    18475.0
S_001042    18484.0
S_001643        NaN
S_002197        NaN
S_002306        NaN
S_002708        NaN
S_002718        NaN
S_002732        NaN
S_002869        NaN
S_003047        NaN
S_003114        NaN
S_003146        NaN
S_003263    18232.0
S_003289        NaN
S_003302    18235.0
S_003895    18234.0
S_004028        NaN
S_004051        NaN
S_004354        NaN
S_004466    18344.0
S_004482        NaN
S_004974    18158.0
S_005117    18387.0
S_005792        NaN
S_005914    18266.0
S_006035        NaN
             ...
S_470299        NaN
S_470301        NaN
S_470302        NaN
S_470303        NaN
S_470304        NaN
S_470305        NaN
S_470306        NaN
S_470307        NaN
S_470380        NaN
S_470381        NaN
S_470382        NaN
S_470383        NaN
S_470384        NaN
S_470385        NaN
S_470386        NaN
S_470387        NaN
S_470388        NaN
S_470389        NaN
S_470390        NaN
S_470391        NaN
S_470392        NaN
S_470393        NaN
S_470394        NaN
S_470395        NaN
S_470396        NaN
S_470397        NaN
S_470398        NaN
S_470399        NaN
S_470400        NaN
S_470520        NaN
Name: DAT_END_OPE, Length: 70731, dtype: float64)
****************************************************************************************************
(True, Contract_ID
S_000001    17866.0
S_000006        NaN
S_000029    17591.0
S_000040    17652.0
S_000066        NaN
S_000082        NaN
S_000088        NaN
S_000099    17775.0
S_000102    18596.0
S_000106        NaN
S_000113        NaN
S_000124    18658.0
S_000185    17652.0
S_000196        NaN
S_000197        NaN
S_000198    17622.0
S_000204    18413.0
S_000207    17956.0
S_000209        NaN
S_000210    18170.0
S_000211        NaN
S_000317        NaN
S_000320    17500.0
S_000321    17286.0
S_000322        NaN
S_000323    17805.0
S_000324    18321.0
S_000325    17866.0
S_000326        NaN
S_000327    17286.0
             ...
S_470195        NaN
S_470208        NaN
S_470438        NaN
S_470569        NaN
S_032670        NaN
S_033100        NaN
S_133877        NaN
S_149199        NaN
S_159734        NaN
S_219726        NaN
S_220684        NaN
S_235000        NaN
S_258017        NaN
S_258284        NaN
S_373184        NaN
S_470574        NaN
S_470575        NaN
S_470577        NaN
S_470578        NaN
S_470579        NaN
S_470580        NaN
S_470581        NaN
S_470583        NaN
S_470585        NaN
S_470586        NaN
S_470587        NaN
S_470589        NaN
S_470590        NaN
S_470591        NaN
S_470592        NaN
Name: DAT_END_OPE, Length: 399861, dtype: float64)
****************************************************************************************************

In [33]:
groups = df.groupby(['COD_TIPO_OPE', 'IsBank_v1'])['DAT_END_OPE']
df['DAT_END_OPE_Clean'] = groups.apply(lambda grp: grp.fillna(grp.mean()))

In [37]:
df.drop(columns=['DAT_END_OPE_P', 'DAT_END_OPE', 'End Ratio'], inplace=True)

In [39]:
df.dropna(inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 447694 entries, S_000001 to S_470400
Data columns (total 13 columns):
COD_FASE_OPE         447694 non-null object
COD_TIPO_OPE         447694 non-null object
COD_STT_OPE          447694 non-null object
DAT_INS              447694 non-null float64
DAT_INZ_OPE          447694 non-null float64
Instit_ID            447694 non-null object
IsBank               447694 non-null bool
IsBank_v1            447694 non-null bool
IsBank_v2            447694 non-null bool
IsBank_v3            447694 non-null bool
IsBank_v4            447694 non-null bool
COD_STT_OPE_Clean    447694 non-null object
DAT_END_OPE_Clean    447694 non-null float64
dtypes: bool(5), float64(3), object(5)
memory usage: 32.9+ MB

In [43]:
df['DAT_INS'].head()

Contract_ID
S_000001    17223.0
S_000006    17223.0
S_000029    17233.0
S_000040    17237.0
S_000066    17244.0
Name: DAT_INS, dtype: float64

In [47]:
df['DAT_INS_Date'] = pd.to_datetime(df['DAT_INS'], unit='D', origin='1960-01-01') #default origin 1970

In [48]:
df['DAT_INS_Date']

Contract_ID
S_000001   2007-02-26
S_000006   2007-02-26
S_000029   2007-03-08
S_000040   2007-03-12
S_000066   2007-03-19
S_000082   2007-03-22
S_000088   2007-03-26
S_000099   2007-03-28
S_000102   2007-03-29
S_000106   2007-03-30
S_000113   2007-04-02
S_000124   2007-04-03
S_000185   2007-04-10
S_000196   2007-04-11
S_000197   2007-04-11
S_000198   2007-04-11
S_000204   2007-04-13
S_000207   2007-04-13
S_000209   2007-04-13
S_000210   2007-04-13
S_000211   2007-04-13
S_000317   2007-04-19
S_000320   2007-04-19
S_000321   2007-04-19
S_000322   2007-04-19
S_000323   2007-04-19
S_000324   2007-04-19
S_000325   2007-04-19
S_000326   2007-04-19
S_000327   2007-04-19
              ...
S_469948   2010-11-12
S_469949   2010-11-12
S_469950   2010-11-12
S_470297   2010-12-14
S_470299   2010-12-14
S_470301   2010-12-14
S_470302   2010-12-14
S_470303   2010-12-14
S_470304   2010-12-14
S_470305   2010-12-14
S_470306   2010-12-14
S_470307   2010-12-14
S_470380   2011-01-12
S_470381   2011-01-12
S_470382   2011-01-12
S_470383   2011-01-12
S_470384   2011-01-12
S_470385   2011-01-12
S_470386   2011-01-12
S_470387   2011-01-12
S_470389   2011-01-12
S_470390   2011-01-12
S_470391   2011-01-12
S_470393   2011-01-12
S_470394   2011-01-12
S_470395   2011-01-12
S_470396   2011-01-12
S_470397   2011-01-12
S_470399   2011-01-12
S_470400   2011-01-12
Name: DAT_INS_Date, Length: 447694, dtype: datetime64[ns]